.page {
  width: 100%;
}

.title {
  margin-bottom: 26px;
  text-align: center;

  h2 {
    margin: 0;
    color: #101828;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    margin: 10px 0 0;
    color: #667085;
    font-size: 14px;
  }
}
